.footer {
  display: flex;
  flex-direction: column;
  border: none;
  background-color: #f7f6f6;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 32px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
}
.footer__logo-link {
  display: none;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__menu h2,
.footer__contacts h2 {
  font-size: 24px;
  font-weight: 500;
}
.footer__content-list {
  font-size: 14px;
  font-weight: 500;
  color: #888888;
}
.footer__social-icons {
  display: flex;
  gap: 14px;
}
.footer__social-icon-img {
  width: 100%;
  height: 100%;
}
.footer__social-icon-link {
  display: block;
  width: 28px;
  height: 28px;
}
.footer__logo-img {
  width: 144px;
  height: 44px;
}
.footer__subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  align-self: center;
  gap: 16px;
}
.footer__subscribe-input {
  border: 1px solid #ccc;
  border-radius: 20px;
  color: #c4c4c4;
  width: 268px;
  height: 46px;
}
.footer__subscribe-input::placeholder {
  color: #c4c4c4;
  text-align: left;
  padding-left: 24.34px;
}
.footer__subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 268px;
  height: 46px;
  background-color: #ded7d769;
  border: none;
  border-radius: 20px;
}
@media (min-width: 786px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 40px;
    gap: 150px;
  }
  .footer__content {
    flex: 1 1 auto;
  }
}

@media (min-width: 1200px) {
  .footer__logo-link {
    display: block;
  }
}