.furniture {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 32px;
}
.furniture__title {
  font-weight: 600;
  font-size: 24px;
}
.furniture__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.furniture__card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 28px;
  color: #fff;
  width: 100%;
  height: 374px;
}
.furniture__card:nth-child(1) {
  background: url(/htmlcss_examination/img/chill.jpg)no-repeat center/cover;
  height: 243px;
}
.furniture__card:nth-child(2) {
  background: url(/htmlcss_examination/img/work.jpg)no-repeat center/cover;
  height: 243px;
}
.furniture__card:nth-child(3) {
  background: url(/htmlcss_examination/img/kitchen.jpg)no-repeat center/cover;
}
.furniture__card:nth-child(4) {
  background: url(/htmlcss_examination/img/children-room.jpg)no-repeat center/cover;
}
.furniture__card:nth-child(5) {
  background: url(/htmlcss_examination/img/bathroom.jpg)no-repeat center/cover;
}
@media (min-width: 786px) {
  .furniture__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
  }
  .furniture__card {
    height: 265px;
  }
  .furniture__card:nth-child(1),
  .furniture__card:nth-child(2) {
    grid-column: span 6;
  }
  .furniture__card:nth-child(3),
  .furniture__card:nth-child(4),
  .furniture__card:nth-child(5) {
    grid-column: span 4;
  }
}
@media (min-width: 1200px) {
  .furniture__card {
    height: 415px;
  }
}
