.offer {
  display: flex;
  flex-direction: column;
  border: none;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 32px;
}
.offer__title {
  font-weight: 600;
  font-size: 24px;
}
.offer__card-header {
  position: relative;
}
.offer__card-image {
  display: block;
  align-items: center;
  width: 343px;
  height: 226px;
}
.offer__card-icons {
  display: flex;
  position: absolute;
  top: 10px;
  left: 272px;
  width: 24px;
  height: 24px;
  gap: 10px;
}
.offer__content {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  gap: 9px;
}
.offer__text {
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}
.offer__subtitle {
  display: inline;
  font-size: 14px;
  color: #888888;
}
.offer__prices {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-right: 32px;
}
.price-current {
  font-weight: 500;
  font-size: 18px;
}
.price-old {
  font-weight: 500;
  font-size: 18px;
  text-decoration: line-through;
  color: #888888;
}
