.body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #000000;
}
.container {
  margin: 0 auto;
  padding: 0px 16px;
}
@media (min-width: 834px) {
  .container {
    padding: 0 24px;
  }
}
@media (min-width: 1248px) {
  .container {
    padding: 0 calc(50% - 600px);
  }
}
.full-screen {
  min-height: 100svh;
  background: url(../img/head\ 15.png) no-repeat center / cover;
  padding-top: 32px;
}
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 17.5px;
  padding-bottom: 17.5px;
}
.header__logo {
  width: 99px;
  height: 22px;
}
.header__logo-img {
  width: 100%;
  height: 100%;
}
.header__nav {
  display: flex;
  gap: 32px;
}
.header__search-input,
.header__nav-text {
  display: none;
}
@media (min-width: 834px) {
  .header {
    padding: 25px 0;
  }
  .header__logo {
    width: 220px;
  }
  .header__nav {
    gap: 20px;
    align-items: center;
  }
  .header__nav-link img {
    display: none;
  }
  .header__search-input,
  .header__nav-text {
    display: block;
    color:#FFFFFF ;
  }
  .search-input {
    padding: 8px 15px;
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 180px;
  }
}
