@import "./common/_reset";

body {
  position: relative;
  font-family: "Play", sans-serif;
  color: #ffffff;
	background-color:black;
  font-size: 21px;
}
.container {
  /* margin: 0 auto; */
  padding: 0px 16px;
}
@media (min-width: 834px) {
  .container {
    padding: 0 24px;
  }
}
@media (min-width: 1248px) {
  .container {
    padding: 0 calc(50% - 400px);
  }
}
