@import "./common/_reset";
@import "./common/_container";

body {
  position: relative;
  font-family: "Play", sans-serif;
  background: #000;
  color: #ffffff;
  font-size: 21px;
}
.header {
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 17px;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0px;
    width: calc(100% + 32px);
    height: 1px;
    background-color: #ffffff;
    transform: translateX(-16px);
  }
  &__logo {
    width: 175px;
    height: 24px;
    color: #ffffff;
    flex-shrink: 0;
  }

  &__logo-img {
    width: 100%;
    height: 100%;
  }

  &__nav {
    display: none;
  }

  &__nav-list-element {
    font-size: 16px;
  }

  &__nav-list-link {
    color: #ffffff;
  }

  &__menu {
    display: flex;
    gap: 24px;
  }

  &__menu-text {
    font-family: "Cinzel";
    color: #ffffff;
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .header {
    padding-top: 33px;
    padding-bottom: 33px;
    &__logo {
      width: 175px;
    }
    &__nav-list {
      display: flex;
      gap: 47px;
      justify-content: space-between;
      align-items: center;
    }
    &__nav-list-element {
      font-size: 16px;
    }
    &__menu {
      gap: 70px;
    }
    &__menu-text {
      font-size: 16px;
    }
  }
}
@media (min-width: 1116px) {
  .header {
    &__nav {
      display: block;
    }
  }
}

.full-screen {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  position: relative;
  overflow: hidden;
  padding-top: 120px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../img/fullscreen-img/full-screen.jpg") no-repeat center / cover;
    z-index: -1;
  }
  &__text-preview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 25px;
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    padding-bottom: 40px;
  }

  &__subtitle {
    font-size: 16px;
    padding-bottom: 25px;
  }

  &__link {
    display: inline-block;
    position: relative;
    margin-top: 12px;
    padding-right: 20px;
    font-family: "Cinzel";
    font-size: 16px;
    color: #ffffff;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 14px;
      height: 14px;
      background: url("../img/icons/arrow-white.svg") no-repeat center/contain;
    }
  }

  &__content-block {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}

.preview-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  max-width: 423px;
  height: 98px;
  padding: 16px;

  &:nth-child(1) {
    background-color: #2378fc;
  }

  &:nth-child(2) {
    background-color: #30bcc9;
  }

  &:nth-child(3) {
    background-color: #ffc41e;
    color: #000;
  }

  &:nth-child(4) {
    background-color: #f6404f;
  }

  &__title {
    font-size: 16px;
    margin-bottom: 8px;
    color: #ffffff;
  }

  &__link {
    display: inline-block;
    position: relative;
    font-size: 14px;
    text-decoration: underline;
    padding-right: 18px;
    color: #ffffff;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 14px;
      height: 14px;
      background: url("../img/icons/arrow-white.svg") no-repeat center/contain;
    }
  }
}

@media (min-width: 768px) {
  .full-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;

    &__text-preview {
      flex: 0 1 40%;
      margin-bottom: 0;
    }

    &__title {
      font-size: 64px;
    }

    &__subtitle {
      font-size: 24px;
    }

    &__content-block {
      display: flex;
      flex: 0 1 50%;
      flex-wrap: wrap;
      justify-content: center;
      gap: 24px;
      padding-top: 340px;
    }
  }

  .preview-card {
    width: 255px;
    height: 148px;
    padding: 16px;
  }
}

.footer {
  background-color: #30bcc9;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__content {
    display: flex;
    flex: 0 1 110px;
    flex-direction: column;
    gap: 20px;
  }
}

.footer-content {
  &__title {
    font-size: 21px;
    font-weight: 500;
  }

  &__list {
    list-style: none;
  }

  &__item-link {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item-app-link {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 10px;

    &:nth-child(2) {
      background-image: url("../img/socials/app-store.png");
      width: 160px;
      height: 53px;
    }

    &:nth-child(3) {
      background-image: url("../img/socials/google-play.png");
      width: 160px;
      height: 47px;
    }
  }

  &__socials {
    display: flex;
    gap: 12px;
    padding-bottom: 16px;
  }

  &__item-social-link {
    width: 24px;
    height: 24px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &:nth-child(1) {
      background-image: url("../img/socials/youtube.svg");
    }

    &:nth-child(2) {
      background-image: url("../img/socials/vk.svg");
    }

    &:nth-child(3) {
      background-image: url("../img/socials/facebook.svg");
    }

    &:nth-child(4) {
      background-image: url("../img/socials/instagram.svg");
    }
  }

  &__subtitle {
    font-size: 14px;
    padding-bottom: 8px;
  }

  &__subscribe {
    display: flex;
    padding-bottom: 50px;
  }

  &__subscribe-input {
    flex: 0 1 215px;
    height: 40px;
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    outline: none;
  }

  &__subscribe-button {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/icons/rectangular-speech-bubble.svg");
    background-color: #f6404f;
    border: none;
  }
}

@media (hover: hover) and (pointer: fine) {
  &__item-link:hover {
    text-decoration: underline;
    color: #ffc41e;
  }
}

@media (hover: hover) and (pointer: fine) {
  &__item-social-link:hover {
    transform: scale(1.2);
    transition: 0, 2s ease;
  }
}

@media (min-width: 600px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
    column-gap: 24px;

    &__content {
      flex: 1 1 calc(50% - 24px);
    }
  }
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 60px;

    &__content {
      width: calc(100% / 3 - 32px);
    }

    .footer-content__subscribe {
      flex-direction: row;
      align-items: center;
    }
  }
}
