:root {
  --color-bg: #e1ede6;
  --color-black: #2c2d35;
  --color-hover: #c3d1c6;
  --color-border: #c3d1c6;
  --color-white: #ffffff;
  --color-green: #598d66;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg);

  & .header__content {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    background-color: var(--color-white);
  }
  & .header__logo {
    & .header__logo-img {
      height: auto;
    }
  }

  & .header__text {
    border-top: 1px solid transparent;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  & .header-text {
    & .header-text__logo {
      display: none;
    }
  }

  & .header__nav {
    display: none;
  }

  & .header-nav {
    & .header-nav__list {
      display: flex;
      flex-direction: row;
      gap: 24px;
    }

    & .header-nav__link {
      text-decoration: none;
      color: var(--color-black);
      transition: 0.3s;
    }
  }

  & .header__actions {
    display: flex;
    gap: 236px;

    & .header__action {
      display: inline-block;

      & .header__action {
        width: 24px;
        height: 24px;
        object-fit: contain;
      }
    }

    & .header__action-bag {
      display: inline-block;

      & .header__action-bag {
        width: 24px;
        height: 24px;
        object-fit: contain;
      }

      & .header__action-link {
        width: 24px;
        height: 24px;
        object-fit: contain;
      }
    }
  }
}

@media (hover: hover) {
  .header-nav__link {
    color: var(--color-green);
  }
}

@media (min-width: 690px) {
  .header {
    .header__content {
      background-color: transparent;
    }
    & .header__text {
      display: flex;
      gap: 60px;
      border-top: 1px solid var(--color-border);
      & .header__nav {
        display: flex;

        &.header-nav {
          & .header-nav__list {
            gap: 60px;
          }
          & .header-nav__link {
            font-size: 18px;
          }
        }
      }
    }
  }
}
& .header__actions {
  gap: 0;
  & .header__action {
    & .header__action-bag {
      display: none;
    }
  }
}

@media (min-width: 1024px) {
  .header {
    flex-direction: row;
    & .header__content {
      display: none;
    }
    &.header__text {
      gap: 0px;
    }

    & .header-text {
      align-items: center;
      border-top: none;
      & .header-text__logo {
        display: flex;
        row-gap: 234px;
      }

      & .header__nav {
        & .header-nav {
          & .header-nav__list {
            gap: 32px;
          }

          & .header-nav__link {
            font-size: 16px;
          }
        }
      }
    }

    & .header__actions {
      gap: 0;
      .header__action-link {
        width: 28px;
        height: 28px;
      }
    }
  }
}
