.basket-main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
}
.basket-main__half-screen {
  background: url(../../img/basket-head.jpg) no-repeat center top / cover;
  min-height: 50svh;
  padding-top: 185px;
  text-align: center;
  width: 100%;
}
.basket {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.basket__raw-card-list {
  display: flex;
  flex-direction: column;
}
.raw-card-list__header {
  display: none;
}
.raw-card {
  display: flex;
  position: relative;
  border-top: 1px solid #cacdd8;
  padding-top: 18px;
  margin-bottom: 32px;
}
.raw-card:last-child {
  margin-bottom: 8px;
}
.raw-card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.raw-card__img {
  display: none;
}
.raw-card__title {
  font-weight: 500;
}
.raw-card__subtitle {
  font-size: 12px;
  max-width: 253px;
  color: #888888;
  margin-bottom: 7px;
}
.raw-card__price {
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 500;
  color: #050505;
}
.raw-card__actions {
  display: flex;
  column-gap: 30px;
  font-size: 14px;
  color: #000000;
}
@media (hover: none) {
  .raw-card__action {
    text-decoration: underline;
  }
}
.raw-card__number-input {
  position: absolute;
  top: 18px;
  right: 0px;
}
.number-input {
  width: 71px;
  height: 51px;
  font-weight: 600;
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
  background-color: #f7f6f6;
}
@media (hover: hover) {
  .raw-card-list__action-button:hover {
    color: #f7f6f6;
    background-color: #000;
  }
  .raw-card__action {
    text-decoration: none;
    transition: 0.2s;
    cursor: pointer;
  }
  .raw-card__action:hover {
    text-decoration: underline;
  }
  .basket-form__sumbit-button:hover {
    color: #f7f6f6;
    background-color: #000;
  }
}
.raw-card-list__action-buttons {
  display: flex;
  gap: 14px;
}
.action-button {
  width: 166px;
  height: 37px;
  border: 1px solid #000;
  color: #000;
  background-color: transparent;
  font-size: 12px;
  border-radius: 50px;
  transition: 0.2s;
}
.basket-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 343px;
  height: 556px;
  padding: 42px 28px;
  background-color: #f7f6f6;
  border-radius: 20px;
}
.basket-form__title {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 35px;
}
.basket-form__input {
  margin-bottom: 44px;
  width: 100%;
  font-size: 14px;
  line-height: 100%;
  border-bottom: 1px solid #cacdd8;
  background-color: transparent;
}

.basket-form__input:last-child {
  margin-bottom: 68px;
}
.basket-form__sum {
  text-align: center;
  font-size: 24px;
  margin-bottom: 18px;
}
.basket-form__sum_bold {
  font-weight: 500;
}
.basket-form__submit-button {
  width: 290px;
  height: 41px;
  border: 1px solid #000;
  color: #000;
  background-color: transparent;
  font-size: 16px;
  border-radius: 50px;
  transition: 0.2s;
}
@media (min-width: 786px) {
  .basket-form {
    width: 376px;
  }
  .raw-card-list__action-buttons {
    gap: 10px;
  }
  .raw-card-list__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 14px;
    font-size: 16px;
  }
  .raw-card {
    gap: 32px;
    align-items: flex-start;
    padding-top: 25px;
  }
  .raw-card__img {
    display: block;
    height: 173px;
    flex: 0 0 173px;
  }
  .raw-card-content {
    gap: 15px;
  }
  .raw-card__title {
    font-size: 24px;
  }
  .raw-card__subtitle {
    max-width: 276px;
  }
  .raw-card__price {
    font-size: 16px;
  }
  .raw-card__number-input {
    top: 25px;
  }
  .raw-card-list__action-buttons {
    gap: 7px;
  }
  .action-button {
    width: 200px;
    font-size: 14px;
  }
  .basket-form__submit-button {
    align-items: center;
  }
}
@media (min-width: 1248px) {
  .basket {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 40px;
    width: 100%;
  }
  .basket__raw-card-list {
    flex: 1 1 60%;
  }
  .basket-form {
    width: 379px;
    height: 556px;
  }
}
