.container {
  padding: 0px 16px;
}

@media (min-width: 834px) {
  .container {
    padding: 0 24px;
  }
}
@media (min-width: 1248px) {
  .container {
    padding: 0 calc(50% - 555px);
  }
  .header {
    padding: 0 50%;
  }
}