* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *:active {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.container,
.header-container {
  padding: 0px 16px;
}

@media (min-width: 800px) {
  .container,
  .header-container {
    padding: 0 24px;
  }
}
@media (min-width: 1152px) {
  .container {
    padding: 0 calc(50% - 560px);
  }
}
@media (min-width: 1608px) {
  .header-container {
    padding: 0 calc(50% - 780px);
  }
}
body {
  position: relative;
  font-family: "Play", sans-serif;
  background: #000;
  color: #ffffff;
  font-size: 21px;
}

.header {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 17px;
}
.header__logo {
  width: 175px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.header__logo-img {
  width: 100%;
  height: 100%;
}
.header__nav {
  display: none;
}
.header__nav-list-element {
  font-size: 16px;
}
.header__nav-list-link {
  color: #ffffff;
}
.header__menu {
  display: flex;
  gap: 24px;
}
.header__menu-text {
  font-family: "Cinzel";
  color: #ffffff;
  font-size: 14px;
}

@media (min-width: 768px) {
  .header {
    padding-top: 33px;
    padding-bottom: 33px;
  }
  .header__logo {
    width: 175px;
    padding-bottom: 0;
  }
  .header__nav {
    display: flex;
  }
  .header__nav-list {
    display: flex;
    gap: 47px;
    justify-content: space-between;
  }
  .header__nav-list-element {
    font-size: 16px;
  }
  .header__menu {
    gap: 70px;
  }
  .header__menu-text {
    font-size: 16px;
  }
}