* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *:active {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.container,
.header-container {
  padding: 0px 16px;
}

@media (min-width: 800px) {
  .container,
  .header-container {
    padding: 0 24px;
  }
}
@media (min-width: 1152px) {
  .container {
    padding: 0 calc(50% - 560px);
  }
}
@media (min-width: 1608px) {
  .header-container {
    padding: 0 calc(50% - 780px);
  }
}
body {
  position: relative;
  font-family: "Play", sans-serif;
  background: #000;
  color: #ffffff;
  font-size: 21px;
}

.header {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 17px;
}
.header:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px;
  width: calc(100% + 32px);
  height: 1px;
  background-color: #ffffff;
  transform: translateX(-16px);
}
.header__logo {
  width: 175px;
  height: 24px;
  color: #ffffff;
  flex-shrink: 0;
}
.header__logo-img {
  width: 100%;
  height: 100%;
}
.header__nav {
  display: none;
}
.header__nav-list-element {
  font-size: 16px;
}
.header__nav-list-link {
  color: #ffffff;
}
.header__menu {
  display: flex;
  gap: 24px;
}
.header__menu-text {
  font-family: "Cinzel";
  color: #ffffff;
  font-size: 14px;
}

@media (min-width: 768px) {
  .header {
    padding-top: 33px;
    padding-bottom: 33px;
  }
  .header__logo {
    width: 175px;
  }
  .header__nav-list {
    display: flex;
    gap: 47px;
    justify-content: space-between;
    align-items: center;
  }
  .header__nav-list-element {
    font-size: 16px;
  }
  .header__menu {
    gap: 70px;
  }
  .header__menu-text {
    font-size: 16px;
  }
}
@media (min-width: 1116px) {
  .header__nav {
    display: block;
  }
}
.full-screen {
  min-height: 100vh;
  min-height: 100svh;
  position: relative;
  overflow: hidden;
  padding-top: 120px;
}
.full-screen::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../img/fullscreen-img/full-screen.jpg") no-repeat center/cover;
  z-index: -1;
}
.full-screen__text-preview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 100%;
  padding-bottom: 25px;
}
.full-screen__title {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  padding-bottom: 40px;
}
.full-screen__subtitle {
  font-size: 16px;
  padding-bottom: 25px;
}
.full-screen__link {
  display: inline-block;
  position: relative;
  margin-top: 12px;
  padding-right: 20px;
  font-family: "Cinzel";
  font-size: 16px;
  color: #ffffff;
}
.full-screen__link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background: url("../img/icons/arrow-white.svg") no-repeat center/contain;
}
.full-screen__content-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.preview-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  max-width: 423px;
  height: 98px;
  padding: 16px;
}
.preview-card:nth-child(1) {
  background-color: #2378fc;
}
.preview-card:nth-child(2) {
  background-color: #30bcc9;
}
.preview-card:nth-child(3) {
  background-color: #ffc41e;
  color: #000;
}
.preview-card:nth-child(4) {
  background-color: #f6404f;
}
.preview-card__title {
  font-size: 16px;
  margin-bottom: 8px;
  color: #ffffff;
}
.preview-card__link {
  display: inline-block;
  position: relative;
  font-size: 14px;
  text-decoration: underline;
  padding-right: 18px;
  color: #ffffff;
  text-decoration: none;
}
.preview-card__link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background: url("../img/icons/arrow-white.svg") no-repeat center/contain;
}

@media (min-width: 768px) {
  .full-screen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    padding: 120px 80px;
  }
  .full-screen__text-preview {
    max-width: 20%;
    margin-bottom: 0;
  }
  .full-screen__content-block {
    display: grid;
    max-width: 50%;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .preview-card {
    width: 255px;
    height: 148px;
    padding: 16px;
  }
}