body{
    font-family: sans-serif;
    color: #333;
    background-color: #fafafa;
}
.nav{
    background-color: #fff;
    padding: 20px;
    text-align: center;
}
.nav__menu{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.about__tittle_one{
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 8.95px;
    position: relative;
    text-align: center;
    padding: 0 0 30px 0;
}
.about-line{
width: 50px;
height: 3px;
background-color: black;
margin: 10px auto 30px;
}

.about__description{
    max-width: 600px;
    color: #666;
    padding: 10px 0px 0px 400px;
    display: inline;;
}
.about__subtext{
    max-width: 600px;
    padding:0px 0px 20px 460px;
    color: #666;
    text-align: center;
}
.about__row{
    display: flex;
    text-align: center;
}
.item-tittle{
    font-size: 20px;
    font-weight: bold;
    padding: 35px 35px;
}
.item-text{
    font-size: 14px;
    color: #666;
}
.picture{
    margin: 0px auto;
    border-radius: 50%;
    width: 92px;
    height: 92px;
    border: 2px solid #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}