.container,
.header-container {
  padding: 0px 16px;
}
@media (min-width: 800px) {
  .container,
  .header-container {
    padding: 0 24px;
  }
}
@media (min-width: 1152px) {
  .container {
    padding: 0 calc(50% - 560px);
  }
}
@media (min-width: 1608px) {
  .header-container {
    padding: 0 calc(50% - 780px);
  }
}
