*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*::before,*::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body{
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    background: #92ba96;
    color: #6f6666;
}
.container{
    width: 80%;
    max-width: 800px;
    margin: 50px;
}
.category{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    margin-bottom: 10px;
    text-align: center;
}
.title{
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 30px;
    text-align: center;
}
.container-image{
    width: 610px;
    height: 310px;
    background-color: white;
    padding: 10px ;
    border-radius: 8px;
}
.container-image .image{
width: 100%;
height: 100%;
}
.text-section{
    font-size: 14px;
    line-height: 1.8;
    color:#777;
    margin: 20px 0px;
}
.checklist li{
    margin-bottom: 10px;
    font-family: sans-serif;
}
.checklist img{
    width: 16px;
    height: 16px;
}
.active{
    font-weight: bold;
    color: #333;
}
.semi-active{
    color: #80c3c6;
    font-style: italic;
}
.inactive{
    text-decoration: line-through;
    color: #ccc;
}

.button {
    background-color: aqua;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    border: none;
   
}
.button img{
width: 20px;
height: 15px;    
}



